$base_font_size: 11pt;
$base_line_height: 18pt;
$leading: $base-line-height;
$border_color: #999;


$foreground-color: #fff;

$muted: #98a3ad;
$site_color: #999;
$heavy: #668;
$base-padding: 10px;
$pill-color: #efefef;
$radius-size: 10px;
$mobile: 42em;

$text-color-default: 333;

$primary-light: #5d499b;
$primary-dark: #4b3585;

$background-light: #ffd8cf;
$background-dark: #ff9a85;


$button-color: $primary-light;

$header-padding: $leading*.5 $leading*2;
